.account-view {

  &__top-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__account-functions {
    width: 64%;
  }

  &__players-creation {
    width: 34%;
  }

  &__players {
    width: 100%;
    background-color: #1c1919;
    border: 2px solid black;
    border-right: 0;
    border-left: 0;
  }

  &__links {
    width: 100%;
    display: flex;

    a {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: red;
      margin: 0 10px;
      border: 1px solid white;
      border-top: none;
      height: 40px;
    }
  }
}
