@import "reset";

@import "mixins";
@import "colors";
@import "variables";

@import "typography/label";
@import "typography/formLabel";
@import "typography/header";
@import "typography/button";
@import "typography/icon-button";

@import "inputs/datepicker";

@import "elements/accordion";
@import "elements/classic-input";
@import "elements/panel";
@import "elements/player-circle";
@import "elements/confirmation-dialog";
@import "elements/message";
@import "elements/modal";
@import "elements/modal-form";
@import "elements/user-pushes";
@import "elements/status-control";

@import "generic/table";
@import "generic/form";
@import "generic/inline-form";

@import "page/page-header";
@import "page/account";
@import "page/create-account";
@import "page/login-account";
@import "page/players-list";
@import "page/player-creation";

#main-container {
  width: 100%;
  min-height: 100vh;
}

.app-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;

  &__view {
    margin-top: 25px;
  }
}
