@import "../styles/mixins";
@import "../styles/colors";
@import "../styles/variables";

#main-container {
  width: 100%;
  min-height: 100vh;
}

.container {
  @media screen and (max-width: $mobile) {
    margin: 0;
    width: 100%;
  }

  @media screen and (max-width: $tablet) {
    margin: 0 $tabletPadding;
    width: calc(100% - #{2 * $tabletPadding});
  }

  width: 90%;
  margin: 0 auto;
}
