@import "../../styles/mixins";
@import "../../styles/colors";
@import "../../styles/variables";

.row {
  display: flex;
  flex-wrap: wrap;
  padding: #{size(1)} 0;

  &--odd {
    background-color: $grey2;
  }

  &__cell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
